<link href="../Pages/Client.css" rel="stylesheet">
<h3>Client</h3>
<div class="Container">
      <div class="box">
          jkjkj
          <div class="oi oi-person img-card"></div>
      </div>
       <div class="box">
          jkjkj
          <div class="oi oi-people img-card"></div>
      </div>
       <div class="box">
          jkjkj
          <div class="oi oi-people img-card"></div>
      </div>
       <div class="box">
          jkjkj
          <div class="oi oi-people img-card"></div>
      </div>
</div>

@code {

}
