@page "/"

<PageTitle>Index</PageTitle>

<h1 class="mt-5">Bonjour!</h1>

Bienvenue dans Orthologick app

<div class="alert alert-secondary mt-4">
    <p>Gerer votre liste de client</p>
    <Client></Client>
</div>