@inherits LayoutComponentBase

<PageTitle>Orthologick</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between">
            <div class="row">
                <div class="col-2">
                    <div class="oi oi-person img"></div>
                </div>                
                <div class="col">
                    <div>Bienvenue</div>
                    <div class="text">Dimitri</div>
                </div>
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank"><div class="oi oi-account-login"></div></a>           
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
