/* _content/Orthologick/Pages/Client.razor.rz.scp.css */
.Container[b-2due01uzvu]{
    display:flex;
    justify-content:space-around;
    padding: 40px
}
.box[b-2due01uzvu] {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:10px;
    border-radius:10px;
    height: 200px;
    width: 200px;
    color: aqua;
    background:#ffffff;
}
.img-card[b-2due01uzvu]{
    width:100px
}
/* _content/Orthologick/Shared/MainLayout.razor.rz.scp.css */
.page[b-3rs0tv3pvl] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3rs0tv3pvl] {
    flex: 1;
}

.sidebar[b-3rs0tv3pvl] {
    background-image: linear-gradient(180deg, rgb(72, 69, 69) 0%, #232123 70%);
}

.top-row[b-3rs0tv3pvl] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;

}

    .top-row[b-3rs0tv3pvl]  a, .top-row .btn-link[b-3rs0tv3pvl] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3rs0tv3pvl] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3rs0tv3pvl] {
        display: none;
    }

    .top-row.auth[b-3rs0tv3pvl] {
        justify-content: space-between;
    }

    .top-row a[b-3rs0tv3pvl], .top-row .btn-link[b-3rs0tv3pvl] {
        margin-left: 0;
    }
}
.img[b-3rs0tv3pvl] {
    background-color: #ff6a00;
    padding: 12px;
    left:0;
    margin-left:-20px;
    border-radius:50%;
}
.col p[b-3rs0tv3pvl]{
    margin-top:5px
}
.text[b-3rs0tv3pvl]{
    font-size:10px;
}
@media (min-width: 641px) {
    .page[b-3rs0tv3pvl] {
        flex-direction: row;
    }

    .sidebar[b-3rs0tv3pvl] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3rs0tv3pvl] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3rs0tv3pvl], article[b-3rs0tv3pvl] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Orthologick/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-aqx8ejcf8v] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-aqx8ejcf8v] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-aqx8ejcf8v] {
    font-size: 1.1rem;
}
.navbar[b-aqx8ejcf8v]{

}
.oi[b-aqx8ejcf8v] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-aqx8ejcf8v] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-aqx8ejcf8v] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-aqx8ejcf8v] {
        padding-bottom: 1rem;
    }

    .nav-item[b-aqx8ejcf8v]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-aqx8ejcf8v]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-aqx8ejcf8v]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-aqx8ejcf8v] {
        display: none;
    }

    .collapse[b-aqx8ejcf8v] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
